* {box-sizing: border-box;}

body {
    background-color: #3F3F3F;
    font-family: 'Ubuntu', sans-serif;
}

p {
    margin: 0;
}

.container {
    background-color: white;
    width: 600px;
    height: auto;
    margin: 60px auto;
}

.header {
    
    height: 80px;
    display: flex;
    justify-content: space-between;   
}

.icono {
    width: 50px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto{
    width: 100px;
    height: 80px;
    
}

.texto1 {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: flex-end;
}

.texto2 {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: flex-start;
}

.caja {
    display: flex;
}

.iconos-footer {
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.iconos-left {
    width: 150px;
    height: 80px;
    display: flex;
}

.feedback {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.post {
    height: auto;
    width: 100%;
    padding: 0 15px 15px 15px;
    display: flex;
    align-items: center;
    text-align: justify;
}